.apply-section button {
    /* display: flex !important; */
    /* position: absolute; */
    /* height: 100px;
    line-height: 100px; */

    position: fixed;
    left: 48%;
    top: 50%;
}

.apply-section h3 {

    position: fixed;
    left: 40%;
    top: 43%;
}
 .my-btn {
   
        position: absolute;
        right: 16px;
        top: 84px;
        font-size: 18px;
    
}
.card{
    height: 250px;
    overflow-y: auto;
}
.staff-name{
    border-bottom: 2px solid black;
}
@media all and (max-width:670px) {
    .staff-name{
        margin-top: 40px;
    }
    
}